<div class="modal-header" tabindex="-1" role="dialog">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(null)"></button>
</div>

<div class="modal-body">
    <div class="form-check" *ngIf="items">
        <input mdbCheckbox type="checkbox" class="form-check-input" id="checkAll" autocomplete="off" [checked]="isCheckAll" (click)="checkAllItems()"/>
        <label class="form-check-label" for="checkAll">Seleccionar todos</label>
    </div>
    <div class="list-group list-group-light mt-2" *ngIf="items">
        <li class="list-group-item" *ngFor="let item of items; index as i;">
          <input mdbCheckbox class="form-check-input" type="checkbox" [id]="item.id" [checked]="item.isCheck" (click)="checkItem(item.id)"/>
          <label class="form-check-label" [for]="item.id">{{ item.description }}</label>
        </li>
    </div>
    <p *ngIf="!items">No se encontraron asignaturas</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal(null)">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="saveChanges()">Guardar cambios</button>
  </div>

<!-- <ul class="list-group list-group-horizontal">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
  </ul>
  <ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
  </ul> -->
