<div class="modal-header" tabindex="-1" role="dialog">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(null)"></button>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label mdbLabel class="form-label" >Día</label>
                <ng-select id="day" placeholder="Seleccionar día" class="mb-3" formControlName="day" required>
                    <ng-option value="1">Lunes</ng-option>
                    <ng-option value="2">Martes</ng-option>
                    <ng-option value="3">Miercoles</ng-option>
                    <ng-option value="4">Jueves</ng-option>
                    <ng-option value="5">Viernes</ng-option>
                    <ng-option value="6">Sabado</ng-option>
                    <ng-option value="7">Domingo</ng-option>
                </ng-select>

                <label mdbLabel class="form-label" >Hora de inicio</label>
                <div class="ngx-timepicker-field-example mb-3">
                    <ngx-timepicker-field [defaultTime]="'08:00'" [controlOnly]="true" formControlName="time" [format]="24"></ngx-timepicker-field>
                </div>

                <label mdbLabel class="form-label">Numero de horas</label>
                <ng-select id="hours" placeholder="Seleccionar numero de horas" class="mb-3" formControlName="hours" required>
                    <ng-option value="1">1 hora</ng-option>
                    <ng-option value="2">2 horas</ng-option>
                    <ng-option value="3">3 horas</ng-option>
                    <ng-option value="4">4 horas</ng-option>
                </ng-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal(null)">
            Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </div>
</form>