<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="openModalCreateCourse({})">Nuevo Curso</button>
    </div>
</div>

<div class="col" *ngIf="!courses">
    <p class="fs-4 mt-5 text-center">No se encontraron cursos registrados</p>
</div>

<div class="row mt-3">
    <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let course of courses;index as i">
        <div class="card" style="min-height: 17rem;">
            <div class="card-header"><strong>{{ course.description }}</strong></div>
            <div class="card-body">
                <h5 class="card-title">Estudiantes asignados: {{ course.numberStudents }}</h5>
                <div class="card-text scroll" style="height: 7rem;">
                    <span *ngIf="course.academicSubjects.length === 0">Sin asignaturas académicas asignadas</span>
                    <ul *ngFor="let academicSubject of course.academicSubjects">
                        <li>{{ academicSubject.description }}</li>
                    </ul>
                </div>
                <div mdbDropdown class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        aria-expanded="false" mdbDropdownToggle>
                        Editar
                    </button>
                    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" (click)="openModalUpdateCourse(course.id)">Editar curso</a></li>
                        <li><a class="dropdown-item" (click)="openModalAssignDataStudents(course)">Asignar estudiantes</a></li>
                        <li><a class="dropdown-item" (click)="openModalAssignDataSubjects(course)">Asignar asignaturas</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>




<!-- <mdb-tabs [justified]="true">
    <mdb-tab title="Registrar">
        <button type="button" class="btn btn-primary" >Nuevo Curso</button>
    </mdb-tab>
    <mdb-tab title="Asignar Materias">Profile content</mdb-tab>
    <mdb-tab title="Asignar Estudiantes">Messages content</mdb-tab>
  </mdb-tabs> -->