<div class="card">
  <div class="body">
    <div class="row">
      <div class="col-md-3">

        <!-- <div id='external-events'> -->

        <ng-select id="courses" [ngModel]="course" [items]="courses" bindLabel="description" bindValue="id" (change)="changeCourse($event)"
          placeholder="Cursos" class="mb-3">
        </ng-select>

        <div class="list-group list-group-light">
          <button *ngFor="let item of academicSubjects" type="button"
            (click)="addAcademicSubjectToSchedule(item)"
            class="list-group-item list-group-item-action px-3 border-0 active mb-2">
            {{ item.description}}
          </button>
        </div>
      </div>
      <!-- </div> -->
      <div class="col-md-9">
        <div id='calendar-container'>
          <div id='calendar'></div>
        </div>
        <full-calendar #calendar [options]='calendarOptions'></full-calendar>
      </div>

    </div>
  </div>
</div>